<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.baseproject"
    >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseProject"
        tools:targetApi="31" >
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            tools:node="merge"
            >

            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove"
                />
        </provider>
        <activity
            android:name=".presentation.mainscreen.activity.PreviewSavedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mainscreen.activity.PreviewImageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.mainscreen.activity.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.PreviewTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.VideoLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.TemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.ShowMediaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.SelectImageActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.MediaSavedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.DetailTemplateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.CustomPhotoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.hometab.activities.EditAlbumLibraryActivity"
            android:exported="false"
            android:theme="@style/Theme.BaseProject" />
        <activity
            android:name=".presentation.hometab.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.hometab.activities.IntroActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.hometab.activities.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.hometab.activities.SplashActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>